.wrapper {
    object-fit: contain !important;
    bottom: 0px;
    /* background-image:url("/assets/img/3d-modern-background-with-flowing-lines_1048-16926.png");
    background-repeat: no-repeat;
    background-size: cover; */
}

.stickynav {
    position: fixed !important;
    z-index: 3 !important;
    top: 10px;
}

.contactme {
    position: static !important;
    z-index: 3 !important;
    bottom: 0;
}

.msgbtn {
    position: fixed !important;
    z-index: 3 !important;
    right: 0;
}
#contact {
    position: relative !important;
    z-index: 3 !important;
    bottom: 0;
}

.stickynav .services .skills .portifolio {
    height: 100vh !important;
    width: 100 vh !important;
}

.servicecontainer {
    background-image:'/assets/services-bg.png';
    object-fit: contain !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects {
    background-image: '/assets/skills-bg.png';
    background-repeat: no-repeat;
    object-fit: contain !important;
    background-size: cover;
}

.portifolio {
    /* background-image: url("\assets\img\6000397.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;*/
}


